*.tar.gz

*.exe
src/Cryptassist
src/Cryptassistd
src/Cryptassist-cli
src/test/test_Cryptassist
src/qt/test/test_Cryptassist-qt

Makefile.in
aclocal.m4
autom4te.cache/
config.log
config.status
configure
src/config/flappycoin-config.h
src/config/flappycoin-config.h.in
src/config/stamp-h1
src/build-aux/
share/setup.nsi
share/qt/Info.plist

src/qt/*.moc
src/qt/moc_*.cpp
src/qt/forms/ui_*.h

src/qt/test/moc*.cpp

.deps
.dirstamp
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.o
*.o-*
*.patch
.flappycoin
*.a
*.pb.cc
*.pb.h

*.log
*.trs
*.dmg

*.json.h
*.raw.h

# Compilation and Qt preprocessor part
*.qm
Makefile
Cryptassist-qt
Cryptassist-qt.app

# Unit-tests
Makefile.test
Cryptassist-qt_test

# Resources cpp
qrc_*.cpp

# Qt creator
*.pro.user

# Mac specific
.DS_Store
build

#lcov
*.gcno
/*.info
test_Cryptassist.coverage/
total.coverage/
coverage_percent.txt

#build tests
linux-coverage-build
linux-build
win32-build
qa/pull-tester/run-Cryptassistd-for-test.sh
qa/pull-tester/build-tests.sh

!src/leveldb*/Makefile
.qmake.stash
